<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">{% load static %}<meta name="theme-color" content="#000000"><link rel="manifest" href="#{'{% static &quot;manifest.json&quot; %}'}">{% load static %}<link rel="shortcut icon" href="{% static &quot;favicon.ico&quot; %}" type="image/x-icon">{% load static %}<link rel="stylesheet" href="{% static &quot;pinna.css&quot; %}"><title>PINNA</title>{% load static %}<link href="{% static &quot;static/css/main.3ed67e0b.css&quot; %}" rel="stylesheet"></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div><div id="maps"></div><style>#maps {
    height: 400px;
}
</style><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA32MTfuMesMcdn8CyF4wjcdizPKbqUdVg" async defer></script><script>function initMap() {
    var mapPosition = {lat: 35.170662, lng: 136.923430}
    var mapArea = document.getElementById('maps');
    var mapOptions = {
        center: mapPosition,
        zoom: 16,
    };
        var map = new google.maps.Map(mapArea, mapOptions);
}</script>{% load static %}<script type="text/javascript" src="{% static &quot;static/js/main.0b3c6c8d.js&quot; %}"></script></body></html>