[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
"apns2" = "*"
"psycopg2-binary" = "*"


[dev-packages]

pylint = "*"
"pep8" = "*"
mkdocs = "*"
mkdocs-material = "*"
jupyter = "*"
django-mirage = "*"


[requires]

python_version = "3.6"
