[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
djangorestframework = "*"
"psycopg2" = "*"


[dev-packages]

pylint = "*"
django-mirage = "*"
"pep8" = "*"
mkdocs = "*"
mkdocs-material = "*"
jupyter = "*"


[requires]

python_version = "3.6"
