[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
coreapi = "*"
"apns2" = "*"
channels = "*"


[dev-packages]

pylint = "*"
"pep8" = "*"
mkdocs = "*"
flask = "*"
pylint-django = "*"
mkdocs-material = "*"
django-mirage = "*"
selenium = "*"


[requires]

python_version = "3.6"
