//-
    PINNA
    pending_registration.pug

    Created by Shota Shimazu on 2018/03/11

    Copyright (c) 2018 Shota Shimazu All Rights Reserved.

    This software is released under the terms of restricted, see LICENSE for detail.
    https://hplab.work/pinna-music/pinna-serveur/blob/master/LICENSE
    
extends _base.pug


block contents
    .contents
        p
        | To complete your registration, please tap the following link.

        a.onetap_button(href="{% verification_url %}")

block footer
    .footer
        p This link will be expired on after 24 hours from your submitting registration.
        | Any questions? visit feedback site.
